
.normal {
    background-color: #a1b281;
}

.fire {
    background-color: #ff8838;
}

.water {
    background-color: #0984e3;
}

.grass {
    background-color: #05c46b;
}

.flying {
    background-color: #c178f5;
}

.fighting {
    background-color: #b33939;
}

.poison {
    background-color: #a45ce7;
}

.electric {
    background-color: #ffd32a;
}

.ground {
    background-color: #e3b153;
}

.rock {
    background-color: #675327;
}

.psychic {
    background-color: #e63c8b;
}

.ice {
    background-color: #17c0eb;
}

.bug {
    background-color: #a5ce00;
}

.ghost {
    background-color: #574b90;
}

.steel {
    background-color: #808e9b;
}

.dragon {
    background-color: #8165ff;
}

.dark {
    background-color: #483c18;
}

.fairy {
    background-color: #f7a4cf;
}

li.pokemon {
    display: flex;
    flex-direction: column;
    margin: 8rem;
    padding: 16rem;
    border-radius: 16rem;
    transition: 0.3s ease-in-out;
}

li.pokemon:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.number {
    align-self: flex-end;
    font-weight: 500;
}

.name {
    font-weight: 700;
    font-size: 24rem;
    text-transform: capitalize;
}

.type {
    border-radius: 15rem;
    padding: 3rem;
    width: 70rem;
    margin: 5rem 0;
    text-align: center;
    text-transform: capitalize;
    filter: brightness(1.25);
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 100rem;
    height: 100rem;
    align-self: flex-end;
}
